[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
docopt = "*"
pyyaml = "*"
requests = "*"

[dev-packages]
mypy = "*"
pylint = "*"
pytest = "*"
"flake8" = "*"
"autopep8" = "*"

[requires]
python_version = "3.6"

[scripts]
exec = "python -m kamoshika.kamoshika"
